body{
    background: #EDE7F6;
    color: #5D4037;
    font-family: Century Gothic, sans-serif;
}

h1#top{
  text-align: center;
  color: #EDE7F6;
}

h2{
  background:linear-gradient(transparent 80%, #0D47A1 0%);
}

div#navi{
  background-image: url(top.jpg);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

div#menu {
	height:38px;
  font-weight:bold;
  font-size: 18px;
  overflow: hidden;
}
li#menu01,li#menu02,li#menu03,li#menu04,li#menu05 {
	float:center ;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
  padding-left: 20px;
}

div#container{
  padding-top:150px;
}

div#contents{
  padding-left: 30px;
}

a{
  color: #EDE7F6;
}

a#link{
  color : #0D47A1;
}
